.box{
	margin-top: 20px;
	min-width: 320px;
}
.box>div{
	box-shadow: 1px 1px 7px 0 #999;
}
#msgContent {
	height : 360px;
    min-width: 100%;
    max-width: 100%;
    overflow-y: auto;
	word-wrap: break-word
}